html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;  //set font-size to 16 pixels
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
